# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Dependency directories
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules/

# Debug logs from NPM, Yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# NPM, Yarn lock files
package-lock.json
yarn.lock

# Editors and IDEs
.idea
.vscode

# OSX Files
.DS_Store
