# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul or jest
coverage

# node-waf configuration
.lock-wscript

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# lock files
package-lock.json
yarn.lock

# IntelliJ IDE ignore
.idea

# Visual Studio Code
.vscode/*
!.vscode/snippets
!.vscode/launch.json
!.vscode/settings.json
.history

# OSX Files
.DS_Store
